body {
    background-color: rgb(236, 236, 236) !important;
}

.quiz_result {
    font-size: 1.5rem;
}

.quizBody {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-link {
    background-color: white !important;
    color:black !important;
    border: 1px solid rgb(33,37,41) !important;
}

.page-link:hover {
    background-color: rgb(226, 226, 226) !important;
}

.active > .page-link {
    background-color: rgb(33,37,41) !important;
    border: 1px solid rgb(33,37,41) !important;
    color:white !important;
}