body {
    background-color: rgb(236, 236, 236) !important;
}

.quiz_result {
    font-size: 1.5rem;
}

.quizBody {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}