.gridQuizes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
}

.quizesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}