.list {
    margin-top: 18px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    margin-bottom:18px;
}

.footer {
    font-weight: bold;
}

.correct {
    color:rgb(25,135,84) !important;
}

.wrong {
    color:rgb(220,53,69) !important;
}

.result {
    font-size: 1.4rem;
    color: rgb(25,135,84);
}

.resultValue {
    font-weight: bold;
}