.boxPic {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.profilePic {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.username {
    font-size: 1.3rem;
    font-weight: bold;
}

.userInfo {
    margin-left: 20px;
}

.changePhoto {
    width: 30px;
    height: 30px;
}

.changePhotoBtn {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 4px 4px;
    background-color: unset;
    border: none;
}

.changePhotoBtn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.community {
    font-size:0.8rem;
}
